@using EntityLayer.EgitmenSinavBilgileri
@model EntityLayer.BaslayanSinavlar.SinavNotlandirma
@{
    ViewData["Title"] = "KlasikSinavNotlandir";
}

<div class="card card-nav-tabs">
    <div class="card-header card-header-warning">
        <b>Klasik Sınav Notlandırma</b>
    </div>
    <div class="card-body">
    </div>
</div>

<br />

@foreach (var item2 in (List<EntityLayer.BaslayanSinavlar.GirilenKlasikSinavKayit>)ViewBag.SinavSorulari)
{
    foreach (var soruCevap in item2.KlasikSinavSinavSoruCevaps)
    {
        <div class="card card-nav-tabs">
            <div class="card-body">
                <b> Soru : </b> @soruCevap.SoruText
                <hr />
                @soruCevap.SoruCevapText
            </div>
        </div>
    }
}
<form asp-action="KlasikSinavNotlandir" asp-controller="SinavNotlandirma">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-nav-tabs">
                <div class="card-body">
                    <input asp-for="sinavNotu" class="form-control" type="number" placeholder="Sınav notunu giriniz" min="0" max="100" required/>
                </div>
            </div>
        </div>
        @{
            string ogrenciIdd = ViewBag.SinavSorulari[0].SuresiBaslamisSinavlar.OgrenciId.ToString();
            string sinavId = ViewBag.SinavSorulari[0].SuresiBaslamisSinavlar.SinavId.ToString();
        }

        <input type="hidden" id="ogrenciIdd" value="@ogrenciIdd" asp-for="ogrenciId" />
        <input type="hidden" id="sinavId" value="@sinavId" asp-for="sinavId" />

        <div class="col-md-12">
            <button type="submit" class="btn col-md-12">Sınavı Notlandır</button>
        </div>
    </div>
</form>

<script>
    function sinavNotuHesapla() {
        return $("sinavNotu").val();
    }
</script>