@model EntityLayer.Login.KayitOlViewModel

<div class="modal" tabindex="-1" role="dialog" id="modalKayitOl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kayit Ol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-nav-tabs card-plain nav-pills">
                    <div class="card-header card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link">Üyelik Türünü Seçiniz :</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#kayitOl" onclick="UyelikTuruDegistir('ogrenci')" data-toggle="tab">Öğrenci</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#kayitOl" onclick="UyelikTuruDegistir('egitmen')" data-toggle="tab">Eğitmen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="kayitOl">
                                <form id="formKayitOl">

                                    <input id="hiddenKayitUyelikTipi" type="hidden" value="ogrenci" />

                                    <div class="form-group">
                                        <label for="oAd" class="bmd-label-floating texColorBlack" style="text-align: left">Ad</label>
                                        <input asp-for="Ad" id="oAd" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="oSoyad" class="bmd-label-floating texColorBlack">Soyad</label>
                                        <input asp-for="Soyad" id="oSoyad" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="oEmail" class="bmd-label-floating texColorBlack">E-Mail</label>
                                        <input asp-for="Email" id="oEmail" class="form-control" type="email" />
                                    </div>
                                    <div class="form-group">
                                        <label for="oEgitimGorduguKurumAdi" id="egitimGorduguKurumAdiLabel" class="bmd-label-floating texColorBlack">Eğitim Gördüğünüz Kurum Adı</label>
                                        <input asp-for="EgitimGorduguKurumAdi" id="oEgitimGorduguKurumAdi" class="form-control" />
                                    </div>
                                    <div class="form-group" >
                                        <label for="oEgitimGorduguKurumBolum" id="egitimGorduguKurumBolumLabel" class="bmd-label-floating texColorBlack">Bölümünüz</label>
                                        <input asp-for="EgitimGorduguKurumBolum" id="oEgitimGorduguKurumBolum" class="form-control" />
                                    </div>
                                    <div class="form-group" id="ogrenciNumarasiFormGroup">
                                        <label for="oKurumOgrenciNumarasi" class="bmd-label-floating texColorBlack">Kurum Öğrenci Numaranız</label>
                                        <input asp-for="KurumOgrenciNumarasi" min="0" id="oKurumOgrenciNumarasi" type="number" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="oPassword" class="bmd-label-floating">Şifreniz</label>
                                        <input asp-for="Password" id="oPassword" class="form-control texColorBlack" type="password" />
                                    </div>
                                    <div class="form-group">
                                        <label for="oConfirmPassword" class="bmd-label-floating texColorBlack">Şifrenizi Tekrar Giriniz</label>
                                        <input asp-for="ConfirmPassword" id="oConfirmPassword" class="form-control" type="password" />
                                    </div>
                                    @Html.AntiForgeryToken()
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="KayitOl()">Kayıt Ol</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>

<script>
    function UyelikTuruDegistir(uyelikTuru) {
        $('#hiddenKayitUyelikTipi').val(uyelikTuru.toString());
        if (uyelikTuru.toString().toLowerCase() == "egitmen") {
            $('#egitimGorduguKurumAdiLabel').text("Kurum Adı");
            $('#egitimGorduguKurumBolumLabel').text("Kurum Bölümü");
            $('#ogrenciNumarasiFormGroup').hide();
        } else {
            $('#egitimGorduguKurumAdiLabel').text("Eğitim Gördüğünüz Kurum Adı");
            $('#egitimGorduguKurumBolumLabel').text("Bölümünüz");
            $('#ogrenciNumarasiFormGroup').show();
        }
    }

    function KayitOlInputlariTemizle() {
        $('#oAd').val("");
        $('#oSoyad').val("");
        $('#oEmail').val("");
        $('#oEgitimGorduguKurumAdi').val("");
        $('#oEgitimGorduguKurumBolum').val("");
        $('#oKurumOgrenciNumarasi').val("");
        $('#oPassword').val("");
        $('#oConfirmPassword').val("");
    }
</script>
<script>
    function KayitOl() {
        var email = $('#oEmail').val();
        var password = $('#oPassword').val(); 
        var confirmPassword = $('#oConfirmPassword').val();
        var uyelikTuru = $('#hiddenKayitUyelikTipi').val();
        var ad = $('#oAd').val();
        var soyad = $('#oSoyad').val();
        var egitimGorduguKurumAdi = $('#oEgitimGorduguKurumAdi').val();
        var egitimGorduguKurumBolum = $('#oEgitimGorduguKurumBolum').val();
        var kurumOgrenciNumarasi = $('#oKurumOgrenciNumarasi').val();

        var kayitOlViewModel = {
            Email: email,
            Password: password,
            ConfirmPassword: confirmPassword,
            UyelikTuru: uyelikTuru,
            Ad: ad,
            Soyad: soyad,
            EgitimGorduguKurumAdi: egitimGorduguKurumAdi,
            EgitimGorduguKurumBolum: egitimGorduguKurumBolum,
            KurumOgrenciNumarasi: kurumOgrenciNumarasi
        }

        $.ajax({
            url: '/Login/KayitOl',
            type: 'POST',
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: {
                kayitOlViewModel: kayitOlViewModel
            },
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success(result.message);
                    KayitOlInputlariTemizle();
                } else {
                    toastr.warning(result.message);
                }
            },
            error: function () {
                toastr.warning("İşlem gerçekleştirilemedi!");
            }
        });

    }

</script>

